<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>キャラクター説明付きページ</title>
    <link rel="stylesheet" href="/css/style4.css">
    <link rel="stylesheet" href="/css/responsive4.css">
    <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header-left">
            <h1>振り返りの庭</h1>
        </div>
        <div class="header-right">
            <a class="header-item" href="/login">ログイン</a>
            <a class="header-item" href="/signup">新規登録</a>
        </div>
    </header>

    <div class="container">
        <div class="demo">
            <div class="bubble-container">
                <p class="bubble-text">サイトの説明をするよ！</p>
            </div>
            <div>
                <img src="/image/neko5.png" alt="キャラクター画像" class="demo-img">
            </div>
        </div>

        <div class="explain">
            <div class="neko1">
                <div class="bubble-container">
                    <p class="bubble-text">書いた日記にぼくらがコメントするよ！</p>
                </div>
                <img src="/image/neko7.png" alt="キャラクター画像" class="chara">
            </div>
            <img src="/image/daialy.png" alt="日記一覧の画像" class="mihon">
        </div>

        <div class="explain">
            <div class="neko2">
                <img src="/image/neko6.png" alt="キャラクター画像" class="chara">
                <div class="bubble-container-left">
                    <p class="bubble-text">ぼくらと一緒に日記を作っていこう！</p>
                </div>
            </div>
            <img src="/image/list.png" alt="日記一覧の画像" class="mihon1">
            <img src="/image/reslist.png" alt="日記一覧の画像" class="mihon2">
        </div>

    </div>

</body>
