@charset "UTF-8";

body {
    font-family: "Hannari", cursive, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(/image/nikki2.jpg);
    background-repeat:  no-repeat;                                      
    background-position:center center;                     
    background-size:cover;                              
}

header {
    color: white;
    padding: 1em 0;
    display: flex;
    align-items: center; /* 縦方向で中央揃え */
    justify-content: center; /* 横方向で中央揃え */
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
}

.container {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

p {
    margin-top: 1em;
}

form {
    display: flex;
    flex-direction: column;
}

label {font-weight: bold;
    font-size: 1.2em;
    margin: 0.5em 0 0.2em;
}

input, textarea, button {
    font-size: 1em;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 1em;
    background-color: rgba(34, 49, 52, 0.9);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgba(34, 49, 52, 1);
}

.diary-list {
    margin-top: 2em;
}

.diary-item {
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.diary-item h3 {
    margin: 0 0 0.5em;
}

.login-container, .register-container {
    max-width: 400px;
    margin: 5em auto;
    padding: 2em;
    border-radius: 8px;
    text-align: center;
}

.login-container h2, .register-container h2 {
    margin-bottom: 1em;
}

.errors {
    font-size: 14px;
    font-weight: bold;
    color: #ED5974;
    border: 1px solid #e29a9a;
    padding: 12px 34px;
    line-height: 1.6;
    border-radius: 6px;
    list-style: outside;
    background-color: #fff;
    margin-top: 30px;
  }